html, body {
	height:100%;
}
body {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #000;
}

#header{
	position: absolute;
	z-index: 2000;
	width: 235px;
	top: 10%;
}

#header h1{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	text-shadow: #000 1px 2px 2px;
	padding: 20px;
	text-align: right;
}
#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
	text-align: right;
}

#navigation a{
	color: #ffff00;
	display: block;
	background: #000;
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-weight:600;
}


#navigation #misc a{
	padding: 0;
	margin: 0;
	margin-bottom: 0px;
	display: inline;
	box-shadow: none;
	background: none;
}

#navigation img{
	padding: 0;
	margin: 0;
	display: inline;
	text-transform: uppercase;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}




#navigation a:hover {
	text-decoration: underline;
}
.content{
	right: 40px;
	left: 280px;
	top: 10%;
	position: absolute;
	padding-bottom: 30px;
	max-width: 1000px;
	font-weight: 600;
}
.content h2{
	font-size: 30px;
	font-weight: 700;
	padding: 10px;
	margin-top: 51px;
	margin-bottom: 30px;
	text-transform: lowercase;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: #000 1px 2px 2px;
}
.content p{
	font-size: 18px;
	color: #fff;
	margin-top: 6px;
	line-height: 50px;
	text-align: left;
}

.content span{
	padding: 14px 10px;
	background: #000;
}

.content a{
	color: #ffff00;
}

.content a:hover{
	text-decoration: underline;
}


.panel{
	min-width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	margin-top: -150%;
	opacity: 0;
	z-index:2;
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;
}
.panel:target{
	opacity: 1;
	margin-top: 0%;
}

#about:target ~ #header #navigation #link-about,
#projects:target ~ #header #navigation #link-projects,
#experiments:target ~ #header #navigation #link-experiments
{
	background: #000;
	color: #ffff00;
	font-weight:700;
	text-decoration: underline;
	
}

#about{
	background: url("../images/me2.png");
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
	height: 100%;
}

#about img{
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 5px; 
	background: #000;
	max-width: 500px;
	width: 100%;
	min-width: 200px;
}

.highlight{
	color: #ffff00;
	padding: 0;
	margin: 0;
}




#works #project{
	display: inline;
	padding-right: 10px;
	overflow: visible;
	max-width: 220px;
}

#project a{
	color: #ffff00;
}

#project a:hover{
	text-decoration: underline;
}

#works #project
{
	float: left;
	margin: 0px 20px 10px 0px;
}

#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 5px; 
	background: #000;
}

#works #project span{
	float: none;
	position: relative;
	
	padding: 5px 10px;
	bottom: 190px;
	right: 5px;
	font-weight: 600;
	max-width:220px;
	
	margin-bottom: -10px
}

#publications p{
	font-size: 13px;
}


#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}




span{
	background: #000;
	padding: 5px;
}



#project img {
	opacity: 1;
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}
#project img:hover{
	opacity: .9;	
	-webkit-transition: opacity;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}








#strap{
	z-index: 9999;
	position: fixed;
	top: 0px;
	height: 3px;
	background-color: #ffff00;
	-webkit-box-shadow:rgba(0, 0, 0, 0.496094) 0px 1px 3px;
	-moz-box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.496094);  /* Fx 3.5-3.6 */
		 box-shadow:  0px 1px 3px rgba(0, 0, 0, 0.496094);  /* Fx 4; CSS3 */
}


/* Slideshow */

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    background: transparent; 
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px; 
}
.cb-slideshow li:nth-child(1) span { 
    background-image: url(../images/slides/cuboino2.png) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../images/slides/wildandtame.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../images/slides/echo.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) span { 
    background-image: url(../images/slides/metadoors.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) span { 
    background-image: url(../images/slides/cuboino.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) span { 
    background-image: url(../images/slides/metadoors2.jpg);
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}
.cb-slideshow li:nth-child(2) div { 
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div { 
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) div { 
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) div { 
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) div { 
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; 
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
}

ol,ul {
	list-style:none;
}

.ie7 body{
	overflow:hidden;
}