
@font-face {
  font-family: 'Metric-LightItalic';
  src: url('Metric-LightItalic.eot?#iefix') format('embedded-opentype'),  url('Metric-LightItalic.otf')  format('opentype'),
	     url('Metric-LightItalic.woff') format('woff'), url('Metric-LightItalic.ttf')  format('truetype'), url('Metric-LightItalic.svg#Metric-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
